html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

section {
  
  padding: 40px 15px;
}

#home {
  color: white;
  width: 100%;
  min-height: 82vh; 
  padding: 2rem;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  background: url("img/img.jpg") no-repeat center/cover;
  z-index: 0;
}

#home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(102, 102, 102, 0.203);
  z-index: -1;
}

#home h2, #home p, #home ul {
  max-width: 700px;
  margin: 0 auto 1rem auto;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#card{
 display: flex;
 flex-direction: column;
 align-content: space-between;
justify-content: center;
}

#card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}